<div class="about">
  <h1>Hi. I'm Numan</h1>
  <p>
    I spend most of my time building software. I've built mobile games, Python
    project and websites. Currently I'm focused on web development and trying to
    improve myself to become front end developer.
  </p>
</div>
<div>{% include social-media.html %}</div>

<img
  onclick="scrollToView('#portfolio')"
  class="arrow"
  src="/assets/images/Arrow.svg"
  alt="arrow"
/>

<!-- TODO: Make external style -->
<style>
  .arrow {
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    cursor: pointer;
    animation: arrowAnim 1s ease-out 0.1s infinite alternate;
    width: 70px;
    height: 30px;
  }

  @media only screen and (max-height: 625px) {
    .arrow {
      display: none;
    }
  }

  @keyframes arrowAnim {
    to {
      height: 45px;
      bottom: 1.5vh;
    }
  }
</style>
