<div class="about">
  <h1>Hi. I'm Numan</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit soluta
    consequuntur quisquam quos excepturi ipsam nisi unde dolores qui expedita!
  </p>
</div>
<div>{% include social-media.html %}</div>

<img
  onclick="scrollToView('#portfolio')"
  class="arrow"
  src="/assets/images/Arrow.svg"
  alt="arrow"
/>

<!-- TODO: Make external style -->
<style>
  .arrow {
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    cursor: pointer;
    animation: arrowAnim 1s ease-out 0.1s infinite alternate;
    width: 70px;
    height: 30px;
  }

  @keyframes arrowAnim {
    to {
      height: 45px;
      bottom: 1.5vh;
    }
  }
</style>
