<!-- prettier-ignore -->
<ul class="pinned-list">
<!-- EE -->
<li><h4><a href="">RUN RUN</a></h4><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat amet quae repudiandae accusamus provident facilis explicabo in odit nemo molestiae, modi hic aspernatur officiis. Enim dolore velit alias fugiat pariatur.</p></li>
<li>
  <h4><a href="">RUN RUN</a></h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat amet quae repudiandae accusamus provident facilis
    explicabo in odit nemo molestiae, modi hic aspernatur officiis. Enim dolore velit alias fugiat pariatur.</p>
</li>
<li>
  <h4><a href="">RUN RUN</a></h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat amet quae repudiandae accusamus provident facilis
    explicabo in odit nemo molestiae, modi hic aspernatur officiis. Enim dolore velit alias fugiat pariatur.</p>
</li>
<li>
  <h4><a href="">RUN RUN</a></h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat amet quae repudiandae accusamus provident facilis
    explicabo in odit nemo molestiae, modi hic aspernatur officiis. Enim dolore velit alias fugiat pariatur.</p>
</li>
<li>
  <h4><a href="">RUN RUN</a></h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat amet quae repudiandae accusamus provident facilis
    explicabo in odit nemo molestiae, modi hic aspernatur officiis. Enim dolore velit alias fugiat pariatur.</p>
</li>
<li>
  <h4><a href="">RUN RUN</a></h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat amet quae repudiandae accusamus provident facilis
    explicabo in odit nemo molestiae, modi hic aspernatur officiis. Enim dolore velit alias fugiat pariatur.</p>
</li>
<!-- EE -->
  {% for repository in site.github.public_repositories %} 
  {% if site.repositories contains repository.name %}
  <li>
    <h4><a href="{{ repository.html_url }}">{{repository.name}}</a></h4>
    <p>{{repository.description}}</p>
  </li>
  {% endif %}
  {% endfor %}
</ul>
