<!-- prettier-ignore -->
<ul class="project-list">
  {% for project in site.data.projects %}
  <li class="project">
    <div class="project-header">
      <h3>{{ project.name }}</h3>
      {% for tech in project.technologies %}
      <i class="{{ tech.icon }}" style="color: #{{ tech.color }}"></i>
      {% endfor %}
    </div>
    <img src="/assets/images/{{ project.img }}" alt="{{ project.name }}" />
    <a href="{{ site.baseurl }}/{{ project.url }}" target="_blank">
      <i class="far fa-eye"></i>Demo</a>
    <a
      href="https://github.com/{{ site.github_username }}/{{ project.url }}"
      target="_blank">
      <i class="fab fa-github-square"></i>Github</a>
  </li>
  {% endfor %}
</ul>
