/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// @param {} $jc row - justify-content
/// @param {Direction} $dir flex-start - flex-direction
/// @param {}  $align stretch - align-items
@mixin flex($dir: row, $jc: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jc;
  align-items: $align;
}

@mixin underline {
  &::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid $primary-color;
  }
}

@mixin media($max-width) {
  @media screen and (max-width: $max-width) {
    @content;
  }
}
