footer {
  height: 20vh;
  width: 100%;
  background: $primary-color;
  text-align: center;

  i {
    color: $secondary-color;
    font-size: 32px;
    padding: 20px 10px;
    cursor: pointer;
  }

  p {
    color: $secondary-color;
  }
}
