.header {
  @include media($max-width: 1200px) {
    @include flex(column, $jc: space-between, $align: flex-start);
    position: relative;
    height: 100%;
    margin-bottom: 100px;
    margin-right: 0px;
    min-width: 0px;
  }

  position: sticky;
  top: 10vh;
  align-self: flex-start;
  height: 90vh;
  max-width: $header-max-width;
  min-width: 360px;
  margin-right: 100px;

  p {
    font-size: 1.1em;

    @include media($max-width: 1200px) {
      font-size: 1em;
    }
  }
}