.pinned-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, 1fr));
  grid-column-gap: 3%;
  justify-content: space-between;
  padding: 100px 0 180px 0;
  @include media($max-width: 1600px) {
    grid-template-columns: repeat(2, minmax(350px, 1fr));
  }
  @include media($max-width: 768px) {
    display: block;
  }

  a {
    &,
    &:visited {
      color: #0366d6;
    }
  }

  li {
    background: #f0f4f5;
    min-height: 200px;
    border: 1px solid #b5acac;
    border-radius: 5px;
    padding: 10% 5% 0 5%;
    margin: 5% 0;
    @include flex(column);
    @include media($max-width: 1024px) {
      padding-bottom: 5%;
    }
  }

  h4 {
    padding: 3px 0;
    @include flex($align: center);
    svg {
      margin-right: 10px;
    }
  }
}
