.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 0.6fr));
  grid-column-gap: 50px;
  justify-content: center;
  padding: 70px 0;
  @include media($max-width: 768px) {
    grid-template-columns: 80vw;
  }

  .project {
    position: relative;
    border: 1px;
    padding: 30px 0;

    &-header {
      padding-bottom: 6px;
      h3 {
        display: inline;
      }
      i {
        float: right;
        font-size: 22px;
        padding-left: 5px;
      }
    }

    img {
      width: 100%;
    }

    button {
      border: 0;
      background: $primary-color;
      color: $secondary-color;
      width: 85px;
      height: 32px;
      position: absolute;
      right: -20px;
      top: 20%;

      i {
        padding-right: 5px;
      }
      & + button {
        top: 30%;
      }
    }
  }
}
