<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ page.title }}</title>
    <meta
      name="google-site-verification"
      content="4bUIJ43rzw8wRrJb89Wujd5XSYA7vo8yRsBoz4CT__8"
    />
    <meta
      name="keywords"
      content="numan can ipekçi, numan can, ipekçi, numan ipekçi"
    />
    <meta name="description" content="Numan Can Ipekci | Personal Website" />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/styles.css' | prepend: site.baseurl }}"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
  </head>

  <body>
    {{ content }}
  </body>
</html>
