@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,500,800,900&display=swap');

a {
  font-weight: 500;
}

h1 {
  font-weight: 900;
  letter-spacing: -1px;
  font-size: 48px;
}

h2 {
  font-weight: 800;
  font-size: 2em;
}

button {
  font-weight: 500;
  font-size: 1em;
}

h3 {
  font-weight: 500;
  font-size: 1.2em;
}

h4 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 1.1em;
}

.pinned-list p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer p {
  font-size: 0.9em;
}

footer p,
.about p,
h1,
h2,
h3,
button,
a {
  font-family: 'Poppins', sans-serif;
}
