@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,500,800,900&display=swap');

a {
  font-weight: 500;
}

h1 {
  font-weight: 900;
  letter-spacing: -1px;
  font-size: 48px;
}

h2 {
  font-weight: 800;
  font-size: 2em;
}

button {
  font-weight: 500;
  font-size: 1em;
}

h3 {
  font-weight: 500;
  font-size: 1.2em;
}

footer p {
  font-size: 0.9em;
}

.contact-form input[type='submit'] {
  font-weight: 800;
  font-size: 1.1em;
}

body {
  font-family: 'Poppins', sans-serif;
}

label {
  font-weight: 800;
  font-size: 1.1em;
}
